@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Permanent+Marker&display=swap');
.App {
  background-color: #42484a;
  min-height: 100vh;
  display: flex;
  justify-content: center; /*centra l'elemento dell'asse Y */
  align-items: center;
}

.to-do-list-container {
  padding: 15px 30px;
  background-color: rgb(32, 27, 27);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  min-width: 600px;
}

.title {
  text-align: center;
  font-family: "Cinzel", serif; ;
}